.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
scripts/cleanup.env
audios/
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
tfplan
ignore/
.terraform.lock.hcl
models/
temp/
*.egg-info/
api_test.ipynb
app/utils/text_corrections.py